<div  class="center">
<mat-card class="signin-card" >
  
  <h1 class="text-center" style="margin-top:10%"> CHANGE PASSWORD</h1>
  <br>
  <h6>Enter a new password</h6>
  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="text" [(ngModel)]="pass1">
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="text" [(ngModel)]="pass2">
  </mat-form-field>
  <br>
  <h6>Don't have account yet? <a [routerLink]="['/sign-up']">SignUp</a> </h6>
  <br>
  <button mat-raised-button class="singinbtn mat-elevation-z8" color='primary' (click)="changePasswordFunction()"><i
      class="material-icons">navigate_next</i></button>
  <br><br>
</mat-card>
</div>