
  <div  class="container">
    <br>
    <mat-card class="signin-card" id='card'>
        <h1 class="text-center">Issue Tracking Tool</h1>
      <hr>
      <div *ngIf="!signupForm">
        <p class="subtitle">Sign-in</p>
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required') ">
            Please enter a valid email address
          </mat-error>
  
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" [(ngModel)]="password">
        </mat-form-field>
  
  
        <button mat-raised-button color="primary" style="display: block;margin-left:auto" (click)="signIn()"><i
            class="material-icons">
            keyboard_arrow_right
          </i></button>
      </div>
  
  
      <div *ngIf="signupForm">
  
          <span  class="subtitle">Sign-up</span>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First name" type="text" [(ngModel)]="firstName">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last name" type="text" [(ngModel)]="lastName">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required') ">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" [(ngModel)]="password">
        </mat-form-field>
  
  
        <button mat-raised-button color="primary" style="display: block;margin-left:auto" (click)="submit()"><i
            class="material-icons">
            keyboard_arrow_right
          </i></button>
      </div>
      <hr>
  
      <div (click)="socialSignIn('google')" class="preferred-login google-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Google&quot;,&quot;New Post&quot;,null,null]">
        <svg aria-hidden="true" class="svg-icon native iconGoogle" width="18" height="18" viewBox="0 0 18 18">
          <g>
            <path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18z"
              fill="#4285F4"></path>
            <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17z" fill="#34A853"></path>
            <path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07z" fill="#FBBC05"></path>
            <path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3z"
              fill="#EA4335"></path>
          </g>
        </svg><span *ngIf="signupForm"> Sign up</span> <span *ngIf="!signupForm"> Sign in</span>  using Google.
      </div>
  
      <div (click)="socialSignIn('facebook')" class="preferred-login facebook-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Facebook&quot;,&quot;New Post&quot;,null,null]">
        <img src="./../../assets/fb-logo.png" width="18" height="18" alt=""> <span *ngIf="signupForm"> Sign up</span> <span *ngIf="!signupForm"> Sign in</span> using Facebook.
      </div>
  
      <div (click)="signupForm = !signupForm" class="preferred-login google-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Google&quot;,&quot;New Post&quot;,null,null]">
        <span *ngIf="!signupForm"> Sign up</span> <span *ngIf="signupForm"> Sign in</span> using Email and Password.
      </div>
  
      <a routerLink="/forgot-password">Forgot Password?</a>
      <!-- <button mat-raised-button color="primary" style="display: block;margin-left:auto" (click)="isOpened = !isOpened">SideBar</button> -->
    </mat-card>
  </div>